.projects {
  display: grid;
  gap: 10px;
  grid-auto-rows: 300px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 40px 10px;
}

.item-project {
  position: relative;
  overflow: hidden;
}
.item-project img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.item-project .itemTitle {
  position: absolute;
  display: flex;
  top: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.item-project .show-project {
  position: absolute;
  transition-duration: all 0.5s;
  width: 100%;
  left: 0;
  background-color: var(--black-transparent);
  height: 100%;
  transition: all 0.5s;
}
.projects .item-project .show-project .content-icons-links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.item-project .show-project .content-icons-links .icon-link {
  font-size: 30px;
  margin: 0 10px;
  cursor: pointer;
  color: var(--white);
  filter: drop-shadow(3px 3px 5px var(--white));
}

.item-project .show-project .content-icons-links .icon-link:hover {
  transform: scale(1.2);
}
.item-project .show-project .content-icons-links .icon-link.active:hover {
  color: var(--black);
  filter: drop-shadow(1px 2px 3px rgb(19, 180, 19));
}

/*init icon*/
.content-icons {
  position: absolute;
  top: 0;
  right: 10px;
  background-color: var(--background);
  padding: 10px;
  border-radius: 0 0 8px 8px;
}

.icon {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 5px;
}
.icon img {
  width: 30px;
  height: 30px;
  filter: drop-shadow(2px 2px 4px var(--black));
}
