/* .container-about {
  padding-top: 150px;
  background-color: var(--color-primary);
} */
.container-projects {
  padding: 100px 0;
}
.container-projects h1 {
  color: var(--color-primary);
  font-weight: 900;
  font-size: 40px;
  text-shadow: 2px 2px 2px var(--color-sub), -3px -3px 5px var(--color-sub);
  text-align: center;
}
.container-tools {
  padding-top: 100px;
}
.container-tools h2{
  color: var(--color-primary);
}

@media (min-width: 768px) {
  .container-tools h2{
    font-size: var(--text-desktop-title);
    text-align: center;
  }
}
@media (min-width: 1024px) {
  .container-tools h2{
    font-size: var(--text-desktop-title);
    text-align: center;
  }
}
