.container-about{
    padding-top: 150px;
}
.container-projects{
    padding: 100px 0;
}
.container-projects h1{
    font-size: 40px;
    text-shadow: 2px 2px 2px var(--color-secondary), -3px -3px 5px var(--black);
    text-align: center;
}
.container-tools{
    padding-top: 100px ;
}

@media (max-width:500px) {
    .container-about{
        padding-top: 120px;
    }
}