.footer{
    height: 50vh;
    position: relative;
  
}
.footer .footer-redes{
    font-size: 40px;
    color: aqua;
    margin:0 20px;
    display: flex;
    justify-content: center;
}
.footer .footer__instagram{
    margin:0 20px;
    cursor: pointer;
    color: lightseagreen;
    transition: all 0.3s;
}
.footer .footer__instagram:hover{
    transform:scale(1.2)
}
.footer .footer__linkedin{
    margin:0 20px;
    cursor: pointer;
    color: lightseagreen;
    transition: all 0.3s;
}
.footer .footer__linkedin:hover{
    transform:scale(1.2)
}
.footer .footer__whatsapp{
    margin:0 20px;
    cursor: pointer;
    color: lightseagreen;
    transition: all 0.3s;
}
.footer .footer__whatsapp:hover{
    transform:scale(1.2)
}

.footer .footer-copy{
    
    color: white;
    margin-bottom: 40px;
}
.footer .footer__copy{
    font-size: 30px;
    color: aqua;
}