@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --background: #cccccc;
  --white: #fff;
  --black: #000;
  --color-primary: #263e3e;
  --color-secondary: #f4f5ef;
  --box-background: #f4f5ef;
  --black-transparent: #263e3eaf;
  --font-robot: "Roboto", sans-serif;
  --text-color: #263e3e;
  --color-sub: #b3ba91;
  --text-color-sub: #144f67;
  --text-mobile-title: 30px;
  --text-mobile-subTitle: 20px;
  --text-mobile-text: 16px;
  --text-tablet-title: 27px;
  --text-tablet-subTitle: 19px;
  --text-tablet-text: 16px;
  --text-desktop-title: 40px;
  --text-desktop-subTitle:24px;
  --text-desktop-text: 18px;
}

body {
  background-color: var(--white);
  color: var(--white);
  font-family: var(--font-robot);
}

.app {
  max-width: 1440px;
  margin: 0 auto;
}
