@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
:root {
  --background: #cccccc;
  --white: #fff;
  --black: #000;
  --color-primary: #144f67;
  --color-secondary: #31a9d8;
  --black-transparent: #31a9d8b2;
  --font-robot: "Roboto", sans-serif;
  --text-color:#404040;
  --text-color-sub: #144f67;
}

body {
  background-color: var(--white);
  color: var(--white);
  font-family: var(--font-robot);
 
}

.app {
  max-width: 1200px;
  margin: 0 auto;
}

