@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
:root {
  --background: #cccccc;
  --white: #fff;
  --black: #000;
  --color-primary: #263E3E;
  --color-secondary: #F4F5EF;
  --box-background: #F4F5EF;
  --black-transparent: #263e3eaf;
  --font-robot: "Roboto", sans-serif;
  --text-color:#263E3E;
  --color-sub:#B3BA91;
  --text-color-sub: #144f67;
}

body {
  background-color: var(--white);
  color: var(--white);
  font-family: var(--font-robot);
}

.app {
  max-width: 1440px;
  margin: 0 auto;
}

